<ion-content class="corpoInicio">
  <section class="fundo-logo">
  <img class="logo" src="../../../assets/icon/logo atualizado.svg" alt="Logo Vila Real" />
</section>
  <p class="PMP">Produtos Mais Procurados</p>

<!--<ion-row>
    <ion-col size="6">
      <ion-tab-button tab="categorias">
        <img src="../../../assets/nescau.jpg" alt="Btn VilaReal" /> 
      </ion-tab-button>
    </ion-col>
    <ion-col size="6">
      <ion-tab-button tab="sobre">
        <img src="../../../assets/pasta de dente.jpg" alt="Btn VilaReal" />
      </ion-tab-button>
    </ion-col>
  </ion-row>   -->

  <ion-row class= "produtos">
      <ion-row>
          <ion-col size="3">
            <img src="../../../assets/wafer.png" alt="Produtos VilaReal"/>
          </ion-col>
          <ion-col size="3">
            <img src="../../../assets/Leite-Moca.png" alt="Produtos VilaReal" />
          </ion-col>
            <ion-col size="3">
              <img src="../../../assets/Leite-Moca.png" alt="Produtos VilaReal" />
            </ion-col>
            <ion-col size="3">
              <img src="../../../assets/Nescau.png" alt="Produtos VilaReal" />
             </ion-col>
    </ion-row> 

    <ion-row>
        <ion-col size="3">
          <img src="../../../assets/sucos.png" alt="Produtos VilaReal" />
        </ion-col>
        <ion-col size="3">
          <img src="../../../assets/Leite-Moca.png" alt="Produtos VilaReal" />
        </ion-col>
          <ion-col size="3">
            <img src="../../../assets/Leite-Moca.png" alt="Produtos VilaReal" />
          </ion-col>
          <ion-col size="3">
            <img src="../../../assets/Leite-Moca.png" alt="Produtos VilaReal" />
          </ion-col>
            
  </ion-row> 

  <ion-row>
      <ion-col size="3">
          <img src="../../../assets/Amaciante.png" alt="Produtos VilaReal" />
         </ion-col>
          <ion-col size="3">
        <img src="../../../assets/pasta-de-dente.png" alt="Produtos VilaReal" />
      </ion-col>
      <ion-col size="3">
        <img src="../../../assets/sabao-em-po.png" alt="Produtos VilaReal" />
      </ion-col>
        <ion-col size="3">
         <img src="../../../assets/Amaciante.png" alt="Produtos VilaReal" />
        </ion-col>
          
</ion-row> 
  </ion-row>
  <ion-card>
      
      <ion-card-content>
          Ir ao supermercado pode ser uma aventura se você não souber exatamente o que comprar, embora nossos produtos estão bem organizados o cliente pode acabar esquecendo de levar algo que veio comprar, para facilitar sua vida, voce pode criar uma lista de compras completa e organizada. Antes de mais nada visite sua despensa!
      </ion-card-content>
    </ion-card>

  <ion-button color="warning" expand="block" ((click)="Carrinho()">Faça sua lista de compras!</ion-button>
 
  </ion-content>
