//.corpoInicio {
 //--background: #3e4d628f;;

.fundo-logo{
  background:#0e213b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50%;
  margin-top: 20px;
  margin-left: 90px;
  margin-bottom: 5%;  
}
.PMP{

text-align: center;
font-weight: bold;
margin-bottom: 30px;
margin-top: 20px;
}
ion-row {
  margin: 0 auto;
 
}
.produtos{
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
ion-col {
  padding-left: 0px;
  padding-right: 0px;
}
ion-button {
  width: 70%;
  height: 6%;
  margin-top: 9%;
  margin-left: 13%;
  font-size: 14px;
}
