<ion-content class="corpoLogin">
  <img class="logo" src="../../../assets/icon/logo atualizado.svg">

  <ion-item>
      <!--EMAIL-->
      <ion-icon name="mail" color="primary" slot="start"> </ion-icon>
      <ion-input
        type="email"
        placeholder="Email"
        autofocus="true"
        [(ngModel)]="email"
        inputmode="mail"
        required="true"
      >
      </ion-input>
    </ion-item>
    <!--FIM EMAIL-->
  
    <ion-item>
      <!--CAIXA SENHA-->
      <ion-icon name="lock" color="primary" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Senha:" [(ngModel)]="senha"></ion-input>
    </ion-item>
    <!--FIM SENHA-->
    <ion-button color= "medium"expand="block" ((click)="logar()">Entrar</ion-button>
    

</ion-content>
