.corpoLogin {
    text-align: center;
    --padding-top: 5%;
    --padding-start: 5%;
    --padding-end: 5%;
    --padding-bottom: 5%;
  }
  .logo {
    width: 70%;
    margin-bottom: 60px;
    margin-top: 40px;
  }
  ion-button {
    width: 70%;
    height: 10%;
    margin-top: 9%;
    margin-left: 13%;
    font-size: 20px;
  }
  