<ion-tabs>
    <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
        <ion-icon name="home"></ion-icon>
        <ion-label>INICIO</ion-label>
    </ion-tab-button>
   
        <ion-tab-button tab="categorias">
            <ion-icon name="menu"></ion-icon>
            <ion-label>RECEITA</ion-label>
        </ion-tab-button>  

    <ion-tab-button tab="login">
        <ion-icon name="contact"></ion-icon>
        <ion-label>LOGIN</ion-label>
    </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
