<ion-header>
        <ion-toolbar>
          <ion-title>Receitas</ion-title>
        </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card> <!-- aqui começa essas janelas de receitas-->
        <ion-card-header>
         
          <ion-card-title>Bolo de Milho Cremoso</ion-card-title>
        </ion-card-header>

        <ion-item href="#" class="activated">
        <ion-card-content>
            <ul>
                <li>
                    INGREDIENTES<br>
                     • 1 lata de milho verde <br>
                     • 1 lata de óleo (medida da lata de milho)<br>
                     • 1 lata de açúcar (medida da lata de milho)<br>
                     • 1 lata de fubá (medida da lata de milho)<br>
                     • 4 ovos<br>
                     • 2 colheres (sopa) de farinha de trigo<br>
                     • 2 colheres (sopa) de coco ralado<br>
                     • 1 e 1/2 colher (chá) de fermento em pó<br>
                     
            <img src="../../../assets/bolo-de-milho.jpg">
        </li>
        </ul>

        </ion-card-content>
    </ion-item>
      </ion-card>
      
      <ion-card>
      
        <ion-card-content>
          Pensando exclusivamente no seu cliente, o Vila Real supermercados oferece um pacote de promoções que são verdadeiras vantagens durante a semana inteira.
          Faça sua Lista de compras, para não esquecer de comprar nada!!! 
        </ion-card-content>
      </ion-card>

      <ion-card>
            <ion-card-header>
           <ion-card-title>Bolinho de Chuva</ion-card-title>
            </ion-card-header>
    
            <ion-item href="#" class="activated">
            <ion-card-content>
                <ul>
                    <li>
                    INGREDIENTES<br>
                        • 2 ovos<br>
                            
                        • 1 xícara de açúcar<br>                            
                        • 1 xícara (chá) de leite<br>                            
                        • 2 e 1/2 xícaras de farinha de trigo<br>                            
                        • 1 colher (sopa) de fermento em pó<br>                            
                        • 3 colheres (sopa) de açúcar para polvilhar<br>                            
                        • 1 colher (sopa) de canela para polvilhar<br>                            
                        • 1 litro de óleo para fritar<br>

                <img src="../../../assets/bolinho-de-chuva.jpg">
            </li>
            </ul>
    
            </ion-card-content>
        </ion-item>
          </ion-card>

<ion-card>
    <ion-card-header>
        <ion-card-title>Rocambole de Laranja com Nutella</ion-card-title>
            </ion-card-header>
        
             <ion-item href="#" class="activated">
                <ion-card-content>
                    <ul>
                        <li>
                        INGREDIENTES<br>                        
                        • 9 claras;<br>
                        • 9 gemas;<br>
                        • ⅔ xícara de açúcar + ¼ xícara para polvilhar;<br>
                        • ½ xícara de farinha de trigo;<br>    
                        • 1 laranja bahia;<br>                        
                        • 300g de chocolate meio amargo ralado;<br>                        
                        • 150g de creme de leite fresco;<br>                        
                        • 1 ¼ xícara de creme de avelã (Nutella);<br>                        
                        • 1 xícara de casquinhas de laranja cristalizadas.

                    <img src="../../../assets/rocambole-laranja-nutela.png">
                        </li>
                    </ul>
        
        </ion-card-content>
    </ion-item>
</ion-card>
<ion-card>
        <ion-card-header>
            <ion-card-title>Torta de Frango com Catupiry</ion-card-title>
                </ion-card-header>
            
                 <ion-item href="#" class="activated">
                    <ion-card-content>
                        <ul>
                            <li>
                            INGREDIENTES<br> 
                            Recheio: <br>                       
                        • 1 peito de frango cozido e desfiado<br>
                        • 1 copo de requeijão<br>
                        • 1 xícara de azeitonas pretas picada<br>
                        • 150 g de queijo mussarela cortado em tiras<br>
                        • 150 g de presunto cortado em tiras<br>
                        • 1 lata de seleta de legumes ou milho verde<br>
                        • 1 bisnaga de catupiry<br>

                                Massa da Torta: <br>
                        • 3 ovos<br>
                        • 2 xícaras de chá de farinha de trigo<br>
                        • 2 xícaras de chá de leite<br>
                        • 1 xícara de chá de óleo<br>
                        • 3 colheres de chá de sal<br>
                        • 2 colheres de sopa de maisena<br>
                        • 1 colher de sopa de fermento em pó
    
                        <img src="../../../assets/torta-de-frango-catupiry.jpg">
                            </li>
                        </ul>
            
            </ion-card-content>
        </ion-item>
    </ion-card>

    <ion-card>
            <ion-card-header>
                <ion-card-title>Frango empanado no forno</ion-card-title>
                    </ion-card-header>
                
                     <ion-item href="#" class="activated">
                        <ion-card-content>
                            <ul>
                                <li>
                                INGREDIENTES <br>                        
                                4 filés de frango <br>
                                2 dentes de alho amassados<br>                                
                                1 colher (chá) de sal<br>                                
                                1 colher (sopa) de suco de limão<br>                                
                                1 xícara (chá) de farinha de rosca<br>                                
                                1 clara<br>                                
                                1 colher (sopa) de óleo<br>
        
                            <img src="../../../assets/frango-empanado.png">
                                </li>
                            </ul>
                
                </ion-card-content>
            </ion-item>
        </ion-card>
     
</ion-content>
